ion-label{
    font-weight: bolder;
}

ion-input{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.resultado{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #0000ff;
    text-align: right;
}

ion-content{
    --background: #000000;
    
}

ion-title{
    text-align: center;
}